<div class="modal-header">
  <h3>Options</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset ng-show="!modalOptions.serverStarted">
    <!-- Form Name -->
    <legend>Start Server</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Server Name</label>  
      <div class="col-md-6">
      <input id="textinput" name="textinput" type="text" placeholder="give a uniq name" class="form-control input-md" required="">
      <span class="help-block">the name give the player an idea of the right server for the next game </span>  
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Password</label>  
      <div class="col-md-6">
      <input id="textinput" name="textinput" type="text" placeholder="to join the game" class="form-control input-md">
      <span class="help-block">some extra safety to hold the crowd private</span>  
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submitStartServer"></label>
      <div class="col-md-6">
        <button ng-click="modalOptions.nok();" name="submitStartServer" class="btn btn-primary">Start</button>
      </div>
    </div>
    </fieldset>
  </form>

  <div ng-show="modalOptions.serverStarted">
    <div class="alert alert-success" role="alert">Server: {{modalOptions.serverName}} Pass: {{modalOptions.serverPass||'none'}}</div>
    <h2>Player Joined</h2>
    <ul>
      <li ng-repeat="client in modalOptions.clients">
        {{client.name}}
      </li>
    </ul>
  </div>

</div>
</div>

<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalOptions.close()">Close</button>
  <!-- <button class="btn btn-primary">{{modalOptions.actionButtonText}}</button> -->
</div>