<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>URL</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody ng-repeat="player in userList">
      <tr align="center">
        <td>
          <button type="button" ng-if="player.status==='offline'" class="btn btn-danger">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          </button>
          <button type="button" ng-if="player.status==='online'" class="btn btn-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>          
        </td>
        <td>{{player.name}}</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" size="80%" disabled value="{{player.url}}">
            <span class="input-group-btn">
                <a class="btn btn-info" href="{{player.url}}" target="_{{player.name}}">
                  <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </a>
            </span>
          </div>
        </td>
        <td>
          <button type="button" ng-if="player.role==='player'" class="btn btn-default">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          </button>
          <button type="button" ng-if="player.role==='viewer'" class="btn btn-warning">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>           
        </td>
        <td>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>          
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-3 col-sm-6">
    <button type="button" class="btn btn-warning pull-left" ng-hide="gameServerStarted" ng-click="startServer()">Start Server</button>
    <button type="button" class="btn btn-danger pull-left" ng-show="gameServerStarted" ng-click="stopServer()">Stop Server</button>
  </div>
  <div class="col-md-3 col-sm-6">
    <button type="button" class="btn btn-info pull-right" ng-click="addViewer()">add Viewer</button>
  </div>
  <div class="col-md-3 col-sm-6 pull-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="name" ng-model="newPlayerName">
      <span class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="addPlayer(newPlayerName);newPlayerName='';">add Player</button>
      </span>
    </div>
  </div>  
</div>
