
  <div class="row" ng-if="showJoinServerRow" ng-include src="'partials/joinServerRow.html'">
    <!--  join a running server row
          should be stay simple over time -->
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">{{searchTitle}}</div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        Player: {{gamePlayerName}}<br/>
        @ Server: {{gameServerName}}
      </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel panel-default">
<!--         <div class="panel-heading">
          <div class="panel-title">{{searchTitle}}</div>
          <div class="clearfix"></div>
        </div> -->
        <div class="panel-body">
          <b style="font-size:42px;">
            19
          </b>
        </div>
      </div>
    </div>
   </div>
   <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="movie in calledMovies">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title pull-left"> {{movie.title}}</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body" ng-show="moviedetail">
          Rolle: {{movie.character}} {{movie.job}}<br/>
          {{movie.release_date}} {{movie.original_title}}
        </div>
      </div>
    </div>
  </div>